
.homebox{
	height: 486px;
}
.homebox>.con{
	width: 1142px;
	height: 486px;
	margin: 0 auto;
}
.title{
	height:18px;
	font-weight: both;
	font-size: 25px;
	color: #000;
	margin-top: 24px;
	margin-left: 3px;
}
.name{
	height:34px;
	font-weight: both;
	font-size: 17px;
	color: #000;
	margin-top: 24px;
	padding-left:100px;
}
.message{
	height:34px;
	font-weight: both;
	font-size: 17px;
	color: #000;
	margin-top: 24px;
	padding-left:70px;
}
.name>input{
	width: 946px;
	height: 35px;
	margin-left: 20px;
	text-indent: 20px;
	font-size: 20px;
	color:#9999b3;
	outline: none;
}
.message>input:nth-child(1){
	width: 890px;
	height: 35px;
	margin-left: 20px;
	text-indent: 20px;
	font-size: 20px;
	margin-top: 5px;
	color:#9999b3;
	outline: none;
	margin-bottom: 20px;
}
.message>input:nth-child(2){
	width: 55px;
	height: 39px;
	font-size: 20px;
	outline: none;
	background: #5bc0de;
	color:#9999b3;
	border-color:#5bc0de; 
	color: #fff;
}
.text{
	width: 1142px;
	height: 152px;
	font-size: 20px;
	text-indent: 20px;
}

