.center{
  width: 1125px;
  margin: 0 auto;
  overflow: hidden;
}
.cen_left{
	width: 755px;
	height: 100%;
	float: left;
}
.cen_left>h1{
   font-size: 33px;
   color: #C13742;
   margin-top: 26px;


}
.with{
   font-size: 10px;
   color: #DD5154;
   margin-top: 20px;
}
.cen_left>img{
    width: 100%;
    height:500px;
    margin-top: 33px;
}
.Lorenzo,.pain{
	font-size: 14px;
	color: #36363E;
	line-height: 25px;
	margin-top: 24px;
}

.cen_right{
	width: 355px;
	height: 100%;
	float: right;
	margin-top: 26px;
}
			.cen_a{
				font-size: 28px;
				color: #CF5565;
				
			}
			.cen_b{
				font-size: 14px;
				color: #363C58;
				margin-top: 26px;
				line-height: 20px;
			}
			.cen_img div{
				width: 105px;
				border-radius: 15px;
				margin-left: 6px;
				height: 105px;
				float: left;
				margin-top:10px ;
			}
			.cen_img div img{
				width: 100%;
				height: 100%;
			}
