<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<link rel="stylesheet" href="./message.css">
		<link rel="stylesheet" href="./header.css">
		<script src="./message.js"></script>
	</head>

	<body>
		<% include partial/head.ejs %>
		<div class="homebox">
			<div class="con">
				<div class="title">Send us feedback</div><br/>
				<div class="title1">Recent Feedback</div><br/>
				<p class="name">Name</p>
				<input id="msg" type="text" size="40" value=""><br>
				<p class="titlee">Title</p><br>
				<input id="msg1" type="text" size="40" value=""><br>
				<p class="message">Message</p><br>
				<textarea id="msg2" type="text" size="40" value=""></textarea><br>
				<input id="btn" type="button" value="留言"><br>
				<div id="msg_c"></div>
			</div>
		</div>
	</body>

</html>