<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./liaotian.css">
     <link rel="stylesheet" href="./header.css">
</head>
<body>
<% include partial/head.ejs %>
<div class="homebox">
	<div class="con">
		<div class="title">Roux Chat</div><br>
		<div class="name">Name<input type="text" value="Enter"></div><br>
		<div class="message">Message    <input type="text" value="Enter a"><input type="button" value="Chat"></div><br>
		<textarea class="text"></textarea>
	</div>
</div>
</body>
</html>