<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./header.css">
	<link rel="stylesheet" href="./index.css">
</head>
<body>
	<% include partial/head.ejs %>
	<div class="dingkuan">
		<div class="font-left">
			<div class="wai">
				<p class="art">Art in Full Bloom</p>
				<p class="with">with Lorenzo Garcia</p>
				<div>
					<img class="oimg" src="./1.jpg">
					<p class="op">
						Drawing and painting fliwers may seem like a first-year art student's<br>assignment,but Lorenzo Garcia brings depth,shadows,light,form and<br>color to new heights with his unique and revolutionary technique of<br>
						painting on canvas with v=ceramic glaze.This session is sure to be a hit<br>with mixed media buffs.
					</p>
				</div>
			</div>
			<div class="wai">
				<p class="art">Deep See Wonders</p>
				<p class="with">with Hilary Goldywynn pONT</p>
				<div>
					<img class="oimg" src="./2.jpg">
					<p class="op">
						Hillary is a sophomore art sculture student at New York University,and<br>has won the major internaational prixzes for painters,including the<br>Divinity Circle anded the Intr=ernatu=ional Painter's Medal =.Hillary's exhibir=t<br>
						features paintings that contain onnly water includig waves,deep sea,<br>and river
					</p>
				</div>
			</div>
			<div class="wai">
				<p class="art">The Art of Abstract</p>
				<p class="with">with Riley Rudolph Rewington</p>
				<div>
					<img class="oimg" src="./3.jpg">
					<p class="op">
						Drawing and painting fliwers may seem like a first-year art student's<br>assignment,but Lorenzo Garcia brings depth,shadows,light,form and<br>color to new heights with his unique and revolutionary technique of<br>
						painting on canvas with v=ceramic glaze.This session is sure to be a hit<br>with mixed media buffs.
					</p>
				</div>
			</div>
		</div>
		<div class="font-right">
			<p class="r-op">Artwork on display</p>
			<p class="r-tp">
				while you attend the conference,head over<br>
				to our gaiiery where you can check out some<br>
				of the wpoork from our speah=kers.
			</p>
			<img class="timg"  src="./f-1.jpg">
			<img class="timgt"  src="./f-2.jpg">
			<img class="timg"  src="./f-3.jpg">


			<img class="simg"  src="./f-4.jpg">
			<img class="simgt"  src="./f-5.jpg">
			<img class="simg"  src="./f-6.jpg">

			<img class="simg"  src="./f-7.jpg">
			<img class="simgt"  src="./f-8.jpg">
			<img class="simg"  src="./f-9.jpg">

			<img class="simg"  src="./f-10.jpg">
			<img class="simgt"  src="./f-11.jpg">
			<img class="simg"  src="./f-12.jpg">

			<img class="simg"  src="./f-13.jpg">
			<img class="simgt"  src="./f-14.jpg">
			<img class="simg"  src="./f-15.jpg">

			<img class="simg"  src="./f-16.jpg">
			<img class="simgt"  src="./f-17.jpg">
		</div>
	</div>
</body>
</html>