<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./member.css">
	<link rel="stylesheet" href="./reset.css">
	 <link rel="stylesheet" href="./header.css">
</head>
<body>
<% include partial/head.ejs %>
<div class="center">
   <div class="cen_left">
        <h1>Art in Full Bloom</h1>
        <p class="with">with Lorenzo Garcia</p>
      <img src="images/chngyuan.jpg" alt="">
	   <p class="Lorenzo">
            lorenzo was born in Mexico, but grew up in Southern California after his mother immigrated to los Angeles when he was a year old .his mother Worked as a seamstress in the Fashion  District and brought homemother immigrated to los Angeles when he was a year old .his mother Worked as a seamstress in the Fashion  District and brought homemother immigrated to los Angeles when he was a year old .his mother Worked as a seamstress in the Fashion  District and brought home los Angeles when he was a year old .his mother Worked as a seamstress in the Fashion  District and brought home the Fashion  District and brought home  
	   </p>
	   <p class="pain">
    lorenzo was born in Mexico, but grew up in Southern California after his mother immigrated to los Angeles when he was a year old .his mother Worked as a seamstress in the Fashion  District and brought homemother immigrated to los Angeles when he was a year old .his mother Worked as a  Angeles when he was a year old .his mother Worked as a 
	   </p>



   </div>
 <div class="cen_right">
			<p class="cen_a">Artwork on display</p>
			<p class="cen_b">while you attend the conference, head over  to our gallery where you can check out some of the work form our soeakers</p>
			<div class="cen_img">
				<div><img src="images/Lorenzo_Garcia_01_tn.jpg" /></div>
				<div><img src="images/Lorenzo_Garcia_02_tn.jpg" /></div>
				<div><img src="images/Lorenzo_Garcia_03_tn.jpg" /></div>
				<div><img src="images/Lorenzo_Garcia_04_tn.jpg" /></div>
			</div>
		</div>


</div>	


</body>
</html>