<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title></title>
	<link rel="stylesheet" href="./wonders.css"/>
	<link rel="stylesheet" href="./header.css">
</head>
<body>
<% include partial/head.ejs %>
<div class="content">
<div class="box">
	<div class="left">
		<div class="left-title">
			<span>Deep Sea Wonders</span><br>
			<span class="dd">with Hilary Goldywynn Post</span>
		</div>
		<img class="ooo" src="./speakers/Riley_Rewington_tn.jpg" alt=""/>
		<p class="d1">
			Hillary is a sophomore art sculpture student at New York University, and has already won all the major international prizes for new painters, including the Divinity Circle, the International Painter's Medal, and the Academy of Paris Award. Hillary's CAC exhibit features paintings that contain only water images including waves, deep sea, and river.</p>
		<p class="d1">An avid water sports participant, Hillary understands the water in many ways in which others do not, or may not ever have the opportunity. Her goal in creating the CAC exhibit was to share with others the beauty, power, and flow of natural bodies of water throughout the world. In addition to the display, Hilary also hosts a session on Tuesday called Deep Sea Wonders, which combines her love of deep sea diving and snorkeling, with instruction for capturing the beauty of underwater explorations on canvas.
		</p>
	</div>
	<div class="right">
		<div class="right-title">
			<span class="hhh">Artwork on display</span>
			<p>While you attend the conference,head over to our gallery where you can check out some of the work from our speakers. </p>
		</div>
		<ul>
			<li><img src="./artwork/Hillary_Goldwynn_01_tn.jpg" alt=""/></li>
			<li><img src="./artwork/Hillary_Goldwynn_02_tn.jpg" alt=""/></li>
			<li><img src="./artwork/Hillary_Goldwynn_03_tn.jpg" alt=""/></li>
			<li><img src="./artwork/Hillary_Goldwynn_04_tn.jpg" alt=""/></li>
			<li><img src="./artwork/Hillary_Goldwynn_05_tn.jpg" alt=""/></li>
			<li><img src="./artwork/Hillary_Goldwynn_06_tn.jpg" alt=""/></li>
			<li><img src="./artwork/Hillary_Goldwynn_07_tn.jpg" alt=""/></li>
		</ul>
	</div>
</div>
</div>
</body>
</html>