 
 	<div class="head">      
 		<div class="datu"></div>
 		<div class="logo">
 			<div class="ding">
 				<div class="o"><a href="http://localhost:3000"> Roux Meetups</a></div>
 				<div class="t"><a href="http://localhost:3000/index">Home</a></div>
 				<select class="form-control">
    				<option><a href="http://localhost:3000/member">Speakers</a></option>
    				<option><a href="http://localhost:3000/membe">Speak</a></option>
    				<option><a href="http://localhost:3000/membe">Sp</a></option>
  				</select>
 				<div class="s"><a href="http://localhost:3000/cheadb">Feedback</a></div>
 				<div class="si"><a href="http://localhost:3000/chat">chat</a></div>
 			</div>
		</div>
 	</div>
	
